<template>
    <div >
        {{ count }}
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                count
            }
        },
    }
</script>
