<template>
    <div class="panel panel-default">
        <div class="panel-heading">{{ panel_title }}</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-2">{{ thn }}</th>
                    <th class="col-md-8">{{ thuser }}</th>
                    <th class="col-md-4">{{ thdate }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="item in rows">
                        <td>{{ item.id }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'rows',
            'thn',
            'thuser',
            'thdate',
            'panel_title'
        ]
    }
</script>